
.quote-container {
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  body {
    text-align: center;
    background-color: #262c31;
  }
  h1 {
    color: #ff9900;
  }